
ul.opr-study-list li.opr-study-EASY a { background-color: #2E518F; border-color: #2E518F;}
ul.opr-study-list li.opr-study-PINEAPPLE-P a { background-color: #E66E00; border-color: #E66E00;}
ul.opr-study-list li.opr-study-APPLE-P a { background-color: #006600; border-color: #006600;}
ul.opr-study-list li.opr-study-APPLE-R a { background-color: #006600; border-color: #006600;}

span.opr-study-label.opr-study-EASY { background-color: #2E518F; border-color: #2E518F;}
span.opr-study-label.opr-study-PINEAPPLE-P,
span.opr-study-label.opr-study-PINEAPPLE-R { background-color: #E66E00; border-color: #E66E00;}
span.opr-study-label.opr-study-APPLE-P,
span.opr-study-label.opr-study-APPLE-R { background-color: #006600; border-color: #006600;}
span.opr-study-label.opr-study-Register,
span.opr-study-label.opr-study-Register-AP,
span.opr-study-label.opr-study-Register-PC,
span.opr-study-label.opr-study-Register-CP { background-color: #666; border-color: #666;}

form.node-form .group-opr2-easy-form-b .multipage-pane-wrapper { position: relative;}
form.node-form .group-opr2-easy-form-b .group-opr-data { position: absolute; right: 0; top: 0; margin-top: 0;}

#edit-field-stoma-loc-detail, #edit-field-abdomtender-loc { position: relative;}
#edit-field-stoma-loc-detail .form-checkboxes,
#edit-field-abdomtender-loc .form-checkboxes { width: 200px;}
#edit-field-stoma-loc-detail .form-checkboxes > .form-item,
#edit-field-abdomtender-loc .form-checkboxes > .form-item { width: 30%; margin-right: 0;}
#edit-field-stoma-loc-detail .description { position: absolute; bottom: 0px; right: 0px;}
#edit-field-abdomtender-loc .description { position: absolute; top: 0px; right: 0px;}
#edit-field-stoma-loc-detail .description > img,
#edit-field-abdomtender-loc .description > img { margin: 0;}

#edit-field-bp { width: 28%;}
#edit-field-bp-dias { width: 22%;}
#edit-field-bp label { width: 55%;}
#edit-field-bp span.field-suffix { display: none;}
#edit-field-bp-dias div.form-item { table-layout: auto;}
#edit-field-bp-dias label { width: auto; padding-left: 0;}
#edit-field-bp input,
#edit-field-bp-dias input { width: 60px;}

form#easy-form-a-node-form .group-opr2-multipage-form { background-image: url(images/studies/easy-form-a-header.png);}
form#easy-form-a-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/easy-form-a-footer.png);}
form#easy-form-b-node-form .group-opr2-multipage-form { background-image: url(images/studies/easy-form-b-header.png);}
form#easy-form-b-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/easy-form-a-footer.png);}
body.i18n-en form#easy-form-a-node-form .group-opr2-multipage-form { background-image: url(images/studies/easy-form-a-eng-header.png);}
body.i18n-en form#easy-form-a-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/easy-form-a-eng-footer.png);}
body.i18n-en form#easy-form-b-node-form .group-opr2-multipage-form { background-image: url(images/studies/easy-form-b-eng-header.png);}
body.i18n-en form#easy-form-b-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/easy-form-a-footer.png);}

form#easy-form-a-node-form div.field-group-conditional.group_therapy_iv table tbody { border-top: none;}
form#easy-form-a-node-form div.field-group-conditional.group_therapy_iv div.field-group-notes { text-align: right;}

form#pineapple-p-form-a-node-form .group-opr2-multipage-form { background-image: url(images/studies/pineapple-p-form-a-header.png);}
form#pineapple-p-form-a-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/pineapple-p-form-a-footer.png);}
form#pineapple-p-form-a-eng-node-form .group-opr2-multipage-form { background-image: url(images/studies/pineapple-p-form-a-eng-header.png);}
form#pineapple-p-form-a-eng-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/pineapple-p-form-a-eng-footer.png);}
form#apple-p-form-a-node-form .group-opr2-multipage-form { background-image: url(images/studies/apple-p-form-a-header.png);}
form#apple-p-form-a-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/apple-p-form-a-footer.png);}
form#apple-p-form-b-node-form .group-opr2-multipage-form { background-image: url(images/studies/apple-p-form-b-header.png);}
form#apple-p-form-b-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/apple-p-form-a-footer.png);}
body.i18n-en form#apple-p-form-a-node-form .group-opr2-multipage-form { background-image: url(images/studies/apple-p-form-a-eng-header.png);}
body.i18n-en form#apple-p-form-a-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/apple-p-form-a-eng-footer.png);}
body.i18n-en form#apple-p-form-b-node-form .group-opr2-multipage-form { background-image: url(images/studies/apple-p-form-b-eng-header.png);}
body.i18n-en form#apple-p-form-b-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/apple-p-form-a-eng-footer.png);}
form#apple-r-form-a-node-form .group-opr2-multipage-form { background-image: url(images/studies/apple-r-form-a-header.png);}
form#apple-r-form-a-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/apple-p-form-a-footer.png);}
body.i18n-en form#apple-r-form-a-node-form .group-opr2-multipage-form { background-image: url(images/studies/apple-r-form-a-eng-header.png);}
body.i18n-en form#apple-r-form-a-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/apple-p-form-a-eng-footer.png);}

form#register-acute-form-a-node-form { background-image: url(images/studies/register-acute-form-a-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
form#register-acute-form-a-node-form > div { background-image: url(images/studies/register-acute-form-a-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}
form#register-acute-form-b-node-form { background-image: url(images/studies/register-acute-form-b-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
form#register-acute-form-b-node-form > div { background-image: url(images/studies/register-acute-form-a-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}
body.i18n-en form#register-acute-form-a-node-form { background-image: url(images/studies/register-acute-form-a-eng-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
body.i18n-en form#register-acute-form-a-node-form > div { background-image: url(images/studies/register-acute-form-a-eng-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}
form#register-acute-form-b-node-form { background-image: url(images/studies/register-acute-form-b-eng-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
body.i18n-en form#register-acute-form-b-node-form > div { background-image: url(images/studies/register-acute-form-a-eng-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}

form#register-cancer-form-a-node-form { background-image: url(images/studies/register-cancer-form-a-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
form#register-cancer-form-a-node-form > div { background-image: url(images/studies/register-acute-form-a-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}
body.i18n-en form#register-cancer-form-a-node-form { background-image: url(images/studies/register-cancer-form-a-eng-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
body.i18n-en form#register-cancer-form-a-node-form > div { background-image: url(images/studies/register-acute-form-a-eng-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}

form#register-chronic-form-a-node-form { background-image: url(images/studies/register-chronic-form-a-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
form#register-chronic-form-a-node-form > div { background-image: url(images/studies/register-acute-form-a-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}
body.i18n-en form#register-chronic-form-a-node-form { background-image: url(images/studies/register-chronic-form-a-eng-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
body.i18n-en form#register-chronic-form-a-node-form > div { background-image: url(images/studies/register-acute-form-a-eng-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}

form#register-autoimmune-form-a-node-form { background-image: url(images/studies/register-autoimmune-form-a-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
form#register-autoimmune-form-a-node-form > div { background-image: url(images/studies/register-acute-form-a-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}

form#register-ambulant-form-a-node-form { background-image: url(images/studies/register-ambulant-form-a-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
form#register-ambulant-form-a-node-form > div { background-image: url(images/studies/register-ambulant-form-a-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}

form#control-sample-node-form { background-image: url(images/studies/control-sample-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
form#control-sample-node-form > div { background-image: url(images/studies/register-acute-form-a-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}
body.i18n-en form#control-sample-node-form { background-image: url(images/studies/control-sample-eng-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
body.i18n-en form#control-sample-node-form > div { background-image: url(images/studies/register-acute-form-a-eng-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}

